@page {
	margin-bottom: 5pt;
	margin-top: 5pt
}

.calibre {
    display: block;
    font-family: Calibri;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
}

.underline {
	text-decoration: underline;
}

table.appraisal {
    border-spacing : 0;
    border-collapse : collapse;
    page-break-inside: avoid;
}
table.appraisal tr td, table tr th {
    border: black 1px solid;
	padding: 5px;
}
table.appraisal tr th, table.appraisal tr td.appraisal-fail {
    text-align: center;
}
table.appraisal tr th span {
     padding: 0 10px;
}
